.DS_Store
.env.scripts

client/.DS_Store
client/storybook-static/
client/.env.local
client/.env.staging
client/.env.production
client/node_modules/
client/build/

server/.DS_Store
server/.serverless
server/serverless.yml
server/node_modules/
server/build/
server/doc/
server/server-build/
server/.env.staging
server/.env.production
server/.env.local

PROD.txt